.htaccess
.buildpath
.settings/
.idea/
.project
system/
user_guide/
application/.htaccess
application/cache/
application/config/*
application/views/errors/*
application/controllers/index.html
application/controllers/examples2.php
application/controllers/build.php
application/controllers/welcome.php
application/views/example2.php
application/core/index.html
application/errors/
application/helpers/
application/hooks/
application/index.html
application/language/
application/libraries/index.html
application/libraries/grocery_crud_extended.php
application/logs/
assets/uploads/images/
application/models/index.html
application/third_party/
application/views/index.html
application/views/welcome_message.php
index.php
license.txt